<li>
	{{name}}

	<button class="btn btn-info" class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} Order more!{{else}} Eat! {{/if}}
	</button>

	<button class="delete-burger btn btn-warning" data-id="{{this.id}}">DELETE!</button>
</li>